aiobotocore==3.7.0+computecanada
aiohappyeyeballs==2.6.2+computecanada
aiohttp==3.13.3+computecanada
aioitertools==0.13.0+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
anyio==4.13.0+computecanada
asciitree==0.3.3+computecanada
attrs==26.1.0+computecanada
blosc2 @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/blosc2/blosc2-2.2.9
bokeh==3.9.0+computecanada
botocore==1.43.0+computecanada
cached-property @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/cachedproperty/cached-property-1.5.2
certifi==2026.5.20
cffi==2.0.0+computecanada
cfgrib==0.9.15.1
cftime==1.6.5+computecanada
charset_normalizer==3.4.7+computecanada
click==8.4.1+computecanada
cloudpickle==3.1.2+computecanada
contourpy==1.3.3+computecanada
crc32c==2.8+computecanada
cryptography==46.0.3+computecanada
dask==2026.3.0+computecanada
decorator==5.3.1+computecanada
deprecated==1.3.1+computecanada
distributed==2026.3.0+computecanada
donfig==0.8.1.post1+computecanada
earth2studio==0.8.1
eccodes==2.47.0
eccodeslib==2.47.1.20
eckitlib==2.0.7.20
fasteners==0.20+computecanada
filelock==3.29.0+computecanada
findlibs==0.1.2
flatbuffers==25.12.19
frozenlist==1.8.0+computecanada
fsspec==2026.4.0+computecanada
gcsfs==2026.4.0
google-auth-oauthlib==1.4.0
google-cloud-core==2.6.0
google-resumable-media==2.9.0
google_api_core==2.30.3+computecanada
google_auth==2.53.0+computecanada
google_cloud_storage==3.10.1+computecanada
google_cloud_storage_control==1.11.0+computecanada
google_crc32c==1.8.0+computecanada
googleapis_common_protos==1.75.0+computecanada
grpc_google_iam_v1==0.14.4+computecanada
grpcio==1.76.0+computecanada
grpcio_status==1.76.0+computecanada
h11==0.16.0+computecanada
h5netcdf==1.8.1+computecanada
h5py==3.16.0
hf_xet==1.5.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==1.16.4
idna==3.16
importlib_metadata==9.0.0+computecanada
jinja2==3.1.6+computecanada
jmespath==1.1.0+computecanada
locket==1.0.0+computecanada
loguru==0.7.3+computecanada
lz4==4.3.2+computecanada
markdown-it-py==4.2.0
markupsafe==3.0.3+computecanada
mdurl==0.1.2+computecanada
mpi4py @ file:///tmp/ebuser/avx512/mpi4py/4.1.0/gompi-2023a/mpi4py-4.1.0
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.1+computecanada
narwhals==2.21.2+computecanada
ndindex @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/ndindex/ndindex-1.7
nest_asyncio==1.6.0+computecanada
netCDF4==1.7.2+computecanada
networkx==3.6.1+computecanada
numcodecs==0.14.1
numexpr @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/numexpr/numexpr-2.8.7
numpy==2.4.2+computecanada
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.3.1+computecanada
onnxruntime-gpu==1.26.0
packaging==26.2+computecanada
pandas==3.0.0+computecanada
partd==1.4.2+computecanada
pillow==12.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
propcache==0.5.2+computecanada
proto-plus==1.28.0
protobuf==6.33.6+computecanada
psutil==7.2.2+computecanada
py-cpuinfo @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/pycpuinfo/py-cpuinfo-9.0.0
pyarrow==24.0.0
pyasn1==0.6.3+computecanada
pyasn1_modules==0.4.2+computecanada
pycparser==3.0+computecanada
pygments==2.20.0+computecanada
pygrib==2.1.8
pyproj==3.7.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.2.2+computecanada
pyyaml==6.0.3+computecanada
requests==2.34.2
requests_oauthlib==2.0.0+computecanada
rich==15.0.0+computecanada
s3fs==2026.4.0+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
sortedcontainers==2.4.0+computecanada
sympy==1.13.1
tables @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/tables/tables-3.9.1
tblib==3.2.2+computecanada
toolz==1.1.0+computecanada
torch==2.6.0+cu124
torch_harmonics==0.8.0
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.5.5+computecanada
tqdm==4.67.3+computecanada
triton==3.2.0
typer==0.25.1+computecanada
typing_extensions==4.15.0+computecanada
urllib3==2.7.0
uv==0.11.17
wrapt==2.2.1
xarray==2026.4.0+computecanada
xyzservices==2026.3.0+computecanada
yarl==1.24.2+computecanada
zarr==3.1.0
zict==3.0.0+computecanada
zipp==4.1.0
